body {
    font-family: 'Lato', sans-serif;
    background-color: #F3F3F3;
}

.first__screen {
    background-color: #1c1d25;
    width: 100%;
    height: 95vh;
    display: block;
    position: relative;
}

//nav
.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-start;
    z-index: 20;
}

.main-navigation >* {
    z-index: 10;
}

.nav-logo {
    margin: 20px;
    display: inline-block;
}

.nav-links {
    display: flex;
    position: relative;
    right: 20px;
    top: 20px;
    margin: 0 20px;
    list-style: none;
    a {
        position: relative;
        padding: 0 20px;
        margin: 0 10px;
        font-weight: 600;
        text-decoration: none;
        color: #e4e4e6;
        font-size: 1.6em;
        transition: color .35s ease;
        &:before {
            width: 100%;
            left: 0;
            content: "";
            position: absolute;
            bottom: -5px;
            right: 0;
            left: auto;
            width: 0;
            height: 3px;
            z-index: 2;
            background-color: #235aa6;
            transition: all .25s cubic-bezier(.694, .048, .335, 1) .15s;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -5px;
            right: 0;
            left: auto;
            width: 0;
            height: 3px;
            z-index: 2;
            background-color: #f25757;
            transition: all .25s cubic-bezier(.694, .048, .335, 1);
        }
        &:hover:before,
        &:hover:after {
            width: 100%;
            left: 0;
        }
        &:visited,
        &:active {
            color: #e4e4e6;
            text-decoration: none;
            outline-width: 0;
        }
        &:focus,
        &:hover {
            color: #ffffff;
            text-decoration: none;
            outline-width: 0;
        }
    }
}

// first screen
.main__first {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

.name__first__screen {
    position: relative;
}

.name--txt {
    position: absolute;
    top: -100px;
    font-size: 2em;
    width: 700px;
    left: -60px;
    color: #ffffff;
}

.name--txt h1 {
    font-weight: 600;
    span {
        display: inline-block;
    }
}

.button {
    position: absolute;
    bottom: 30px;
    left: -55px;
    width: 100%;
    a {
        font-size: 1.2em;
        letter-spacing: 2px;
        padding: 15px 25px;
        background-color: #f06449;
        background: linear-gradient(270deg, #f06449, #ef3636);
        color: #fff;
        transition: all .3s;
        text-decoration: none;
        position: relative;
        text-transform: uppercase;
        font-weight: 600;
    }
}

.button--mask {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        -webkit-transform: translateX(-110%);
        transform: translateX(-110%);
        width: 100%;
        background-color: #1b2e63;
        background: linear-gradient(270deg, #4173A5, #213777);
        transition: -webkit-transform .6s cubic-bezier(.694, .048, .335, 1) .05s;
        transition: transform .6s cubic-bezier(.694, .048, .335, 1) .05s;
        transition: transform .6s cubic-bezier(.694, .048, .335, 1) .05s, -webkit-transform .6s cubic-bezier(.694, .048, .335, 1) .05s;
        z-index: 1;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        -webkit-transform: translateX(-110%);
        transform: translateX(-110%);
        width: 80%;
        background-color: #26408b;
        background: linear-gradient(270deg, #4173A5, #213777);
        transition: -webkit-transform .6s cubic-bezier(.694, .048, .335, 1);
        transition: transform .6s cubic-bezier(.694, .048, .335, 1);
        transition: transform .6s cubic-bezier(.694, .048, .335, 1), -webkit-transform .6s cubic-bezier(.694, .048, .335, 1);
        z-index: 2;
    }
    &:hover:before,
    &:hover:after {
        transform: translateX(200%);
    }
}

.icon_social {
    right: 70px;
    position: absolute;
    display: flex;
    flex-direction: column;
    a {
        margin: 10px 0;
        transition: all .25s cubic-bezier(.694, .048, .335, 1);
        fill: #e4e4e6;
        &:hover {
            fill: #ffffff;
        }
    }
}


/* The button-maker */

@mixin arrow-button($color, $background, $shadow, $font-size, $width, $height, $direction) {
    background: none;
    border: 0;
    font-size: $font-size;
    line-height: $height;
    position: relative;
    display: block;
    bottom: 20px;
    width: $width;
    height: $height;
    @if $direction=="up" {
        transform: rotate(-90deg);
    }
    @else if $direction=="down" {
        transform: rotate(90deg);
    }
    a {
        color: $color;
        text-decoration: none;
        position: relative;
        z-index: 10;
    }
    &::before,
    &::after {
        background: $background;
        border-radius: 2px;
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        transition: all 1s;
        height: $height/2;
    }
    &::before {
        box-shadow: -1px 1px 0 $shadow, -2px 2px 0 $shadow, -3px 3px 0 $shadow, -4px 4px 0 $shadow;
        transform: skew(45deg);
        @if $direction=="left" {
            bottom: 0;
            z-index: 1
        }
        @else {
            top: 0;
        }
    }
    &::after {
        box-shadow: 1px 1px 0 $shadow, 2px 2px 0 $shadow, 3px 3px 0 $shadow, 4px 4px 0 $shadow;
        transform: skew(-45deg);
        @if $direction=="left" {
            top: 0;
        }
        @else {
            bottom: 0;
        }
    }
}

.button__projects {
    position: absolute;
    bottom: 0;
}

.button__projects--link {
    @include arrow-button(#fff, #ef3636, #f06449, 22px, 1.2em, 2em, down);
    margin-top: 3em;
}


/*projects section*/

.section--title {
    text-align: center;
    padding: 40px 0;
}


/*owl carousel*/

.owl__container {
    .disabled {
        display: none;
    }
    .owl-dots {
        display: flex;
        height: 20px;
        width: auto;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .owl-dot {
        width: 15px;
        height: 15px;
        position: relative;
        background-color: #f06449;
        background: linear-gradient(270deg, #f06449, #ef3636);
        transform: rotate(45deg);
        margin: 0 10px;
        top: 10px;
        
    }
    .owl-dot.active {
            background-color: #26408b;
            background: linear-gradient(270deg, #4173A5, #213777);
        }
}

.owl-stage {
    display: flex;
}

.owl-stage-outer {
    overflow: hidden;
}

.owl__item--figure {
    width: 90%;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, .45);
    transition: all .35s ease;
    &:hover {
        box-shadow: 0 20px 80px 0 rgba(0, 0, 0, .7);
        transform: translate(10px);
    }
    &:hover .owl__item--images--mask:after {
        transform: translateX(0);
    }
    &:hover .owl__item--images--mask:before {
        opacity: 0;
    }
}

.owl__item--images {
    width: 100%;
    height: auto;
    position: absolute;
}

.owl__item--images--mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: block;
        content: " ";
        background: #1c1d25;
        opacity: .5;
        z-index: 2;
        transition: opacity .3s cubic-bezier(.694, .048, .335, 1) .2s;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        opacity: .9;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(28, 29, 37, .9);
        background: linear-gradient(270deg, rgba(35, 90, 166, .9), rgba(16, 27, 59, .9));
        transform: translateX(-100%);
        transition: transform .35s cubic-bezier(.694, .048, .335, 1) .2s, opacity .2s, -webkit-transform .35s cubic-bezier(.694, .048, .335, 1) .2s;
        z-index: 2;
    }
}

.owl__item__txt {
    position: absolute;
    color: #ffffff;
    bottom: 80px;
    left: 80px;
    z-index: 4;
}

.owl__item--title {
    font-size: 2.2em;
    font-weight: 600;
    margin: 0 0 20px;
}

.owl__item--subtitle {
    font-size: 1.3em;
    font-weight: 300;
    padding-bottom: 30px;
    font-style: italic;
    margin: 0;
}

.btn__carousel {
    font-size: 1.2em;
    letter-spacing: 2px;
    padding: 10px 45px;
    background-color: #f06449;
    background: linear-gradient(270deg, #f06449, #ef3636);
    color: #fff;
    transition: all .3s;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    .button--mask {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
