body {
    font-family: 'Lato', sans-serif;
    background-color: #F3F3F3;
}

main.container {
    padding: 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.overflow--hide {
    overflow: hidden;
}

.first__screen {
    background-color: #1c1d25;
    width: 100%;
    height: 95vh;
    display: block;
    position: relative;
    outline: none;
}

//nav
.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-start;
    z-index: 20;
}

.main-navigation >* {
    z-index: 10;
}

.nav-logo {
    margin: 20px;
    display: inline-block;
    position: relative;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamburger {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 10;
    cursor: pointer;
    display: block;
    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transition: .25s ease-in-out;
        transform: rotate(0deg);
    }
    span:first-child {
        top: 0;
    }
    span:nth-child(2) {
        top: 10px;
    }
    span:nth-child(3) {
        top: 20px;
    }
    &.open span:first-child {
        top: 10px;
        transform: rotate(135deg);
    }
    &.open span:nth-child(2) {
        opacity: 0;
        left: -20px;
    }
    &.open span:nth-child(3) {
        top: 10px;
        transform: rotate(-135deg);
    }
}

.nav-links {
    display: none;
}

.nav-links.open {
    display: flex;
    position: relative;
    right: 0px;
    top: -20px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #1C1D25;
    li {
        margin: 20px 0;
    }
    a {
        position: relative;
        padding: 0 20px;
        margin: 10px 10px;
        font-weight: 600;
        text-decoration: none;
        color: #e4e4e6;
        font-size: 1.6em;
        transition: color .35s ease;
        &:before {
            width: 100%;
            left: 0;
            content: "";
            position: absolute;
            bottom: -5px;
            right: 0;
            left: auto;
            width: 0;
            height: 3px;
            z-index: 2;
            background-color: #235aa6;
            transition: all .25s cubic-bezier(.694, .048, .335, 1) .15s;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -5px;
            right: 0;
            left: auto;
            width: 0;
            height: 3px;
            z-index: 2;
            background-color: #f25757;
            transition: all .25s cubic-bezier(.694, .048, .335, 1);
        }
        &:hover:before,
        &:hover:after {
            width: 100%;
            left: 0;
        }
        &:visited,
        &:active {
            color: #e4e4e6;
            text-decoration: none;
            outline-width: 0;
        }
        &:focus,
        &:hover {
            color: #ffffff;
            text-decoration: none;
            outline-width: 0;
        }
    }
    .icon--smDevices svg {
        fill: #e4e4e6;
    }
    .icon--smDevices:hover svg {
        fill: white;
    }
}

// first screen
.main__first {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

.name__first__screen {
    position: relative;
    width: 100%;
    text-align: center;
}

#logo__main {
    height: 100px;
    width: 273.3px;
}

.name--txt {
    position: absolute;
    top: -6vh;
    font-size: 2em;
    width: 100%;
    color: #ffffff;
    text-align: center;
}

.name--txt h1 {
    font-size: 1.5em;
    font-weight: 600;
    span {
        display: block;
    }
}

.button {
    position: absolute;
    bottom: -100px;
    width: 100%;
    text-align: center;
    a {
        font-size: 1.2em;
        letter-spacing: 2px;
        padding: 15px 60px;
        background-color: #f06449;
        background: linear-gradient(270deg, #f06449, #ef3636);
        color: #fff;
        transition: all .3s;
        text-decoration: none;
        position: relative;
        text-transform: uppercase;
        font-weight: 600;
        display: inline;
        cursor: pointer;
    }
}

.button--mask {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        -webkit-transform: translateX(-110%);
        transform: translateX(-110%);
        width: 100%;
        background-color: #1b2e63;
        background: linear-gradient(270deg, #4173A5, #213777);
        transition: -webkit-transform .6s cubic-bezier(.694, .048, .335, 1) .05s;
        transition: transform .6s cubic-bezier(.694, .048, .335, 1) .05s;
        transition: transform .6s cubic-bezier(.694, .048, .335, 1) .05s, -webkit-transform .6s cubic-bezier(.694, .048, .335, 1) .05s;
        z-index: 1;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        -webkit-transform: translateX(-110%);
        transform: translateX(-110%);
        width: 80%;
        background-color: #26408b;
        background: linear-gradient(270deg, #4173A5, #213777);
        transition: -webkit-transform .6s cubic-bezier(.694, .048, .335, 1);
        transition: transform .6s cubic-bezier(.694, .048, .335, 1);
        transition: transform .6s cubic-bezier(.694, .048, .335, 1), -webkit-transform .6s cubic-bezier(.694, .048, .335, 1);
        z-index: 2;
    }
    &:hover:before,
    &:hover:after {
        transform: translateX(200%);
    }
}

.icon_social {
    display: none;
}


/* The button-maker */

@mixin arrow-button($color, $background, $shadow, $font-size, $width, $height, $direction) {
    background: none;
    border: 0;
    font-size: $font-size;
    line-height: $height;
    position: relative;
    display: block;
    bottom: 20px;
    width: $width;
    height: $height;
    @if $direction=="up" {
        transform: rotate(-90deg);
    }
    @else if $direction=="down" {
        transform: rotate(90deg);
    }
    a {
        color: $color;
        text-decoration: none;
        position: relative;
        z-index: 10;
    }
    &::before,
    &::after {
        background: $background;
        border-radius: 2px;
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        transition: all 1s;
        height: $height/2;
    }
    &::before {
        box-shadow: -1px 1px 0 $shadow, -2px 2px 0 $shadow, -3px 3px 0 $shadow, -4px 4px 0 $shadow;
        transform: skew(45deg);
        @if $direction=="left" {
            bottom: 0;
            z-index: 1
        }
        @else {
            top: 0;
        }
    }
    &::after {
        box-shadow: 1px 1px 0 $shadow, 2px 2px 0 $shadow, 3px 3px 0 $shadow, 4px 4px 0 $shadow;
        transform: skew(-45deg);
        @if $direction=="left" {
            top: 0;
        }
        @else {
            bottom: 0;
        }
    }
}

.button__bottom {
    position: absolute;
    bottom: 0;
}

.button__bottom--link {
    @include arrow-button(#fff, #ef3636, #f06449, 22px, 1.2em, 2em, down);
    margin-top: 3em;
}

.button__top {
    position: fixed;
    bottom: 2px;
    right: 30px;
    cursor: pointer;
    z-index: 20;
    display: none;
}

.button__top--link {
    @include arrow-button(#fff, #ef3636, #f06449, 22px, 1.2em, 2em, up);
    margin-top: 3em;
}


/*projects section*/

.projects {
    outline: none;
}

.section--title {
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    font-size: 2em;
    color: #4a4a4a;
}


/*owl carousel*/

.owl__item--figure {
    width: 312px;
    height: 500px;
}

.owl__container {
    .disabled {
        display: none;
    }
    .owl-dots {
        display: flex;
        height: 20px;
        width: auto;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .owl-dot {
        width: 15px;
        height: 15px;
        position: relative;
        background-color: #f06449;
        background: linear-gradient(270deg, #f06449, #ef3636);
        transform: rotate(45deg);
        margin: 0 10px;
        top: 10px;
        cursor: pointer;
    }
    .owl-dot.active {
        background-color: #26408b;
        background: linear-gradient(270deg, #4173A5, #213777);
    }
}

.owl-stage {
    display: flex;
}

.owl-stage-outer {
    overflow: hidden;
}

.owl__item--figure {
    width: 90%;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, .45);
    transition: all .35s ease;
    min-height: 317px;
    &:hover {
        box-shadow: 0 20px 80px 0 rgba(0, 0, 0, .7);
        transform: translate(10px);
    }
    &:hover .owl__item--images--mask:after {
        transform: translateX(0);
    }
    &:hover .owl__item--images--mask:before {
        opacity: 0;
    }
}

.owl__item--images {
    width: 100%;
    height: auto;
    position: absolute;
}

.owl__item--images--mask {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: block;
        content: " ";
        background: #1c1d25;
        opacity: .5;
        z-index: 2;
        transition: opacity .3s cubic-bezier(.694, .048, .335, 1) .2s;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        opacity: .9;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(28, 29, 37, .9);
        background: linear-gradient(270deg, rgba(35, 90, 166, .9), rgba(16, 27, 59, .9));
        transform: translateX(-100%);
        transition: transform .35s cubic-bezier(.694, .048, .335, 1) .2s, opacity .2s, -webkit-transform .35s cubic-bezier(.694, .048, .335, 1) .2s;
        z-index: 2;
    }
}

.owl__item__txt {
    position: absolute;
    color: #ffffff;
    bottom: 40px;
    text-align: center;
    z-index: 4;
}



.owl__item--title {
    font-size: 2.2em;
    font-weight: 600;
    margin: 0 0 20px;
}

.owl__item--subtitle {
    font-size: 1.3em;
    font-weight: 300;
    padding-bottom: 30px;
    font-style: italic;
    margin: 0;
}

.btn__carousel {
    font-size: 1.2em;
    letter-spacing: 2px;
    padding: 10px 45px;
    background-color: #f06449;
    background: linear-gradient(270deg, #f06449, #ef3636);
    color: #fff;
    transition: all .3s;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    .button--mask {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.btn__carousel--git {
    margin-left: 80px;
    padding: 10px 55px;
}

// about and contact
.container__about__contact {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.container__about__contact p,
.container__about__contact h2 {
    margin: 0.4em 0;
}

.container__about__contact h2 {
    text-align: center;
}

.half {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
#about{
    outline: none;
}
.half--about {
    font-size: 1.2em;
    background-color: #f06449;
    background: linear-gradient(315deg, #f06449, #ef3636);
}

.about--icon {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about--single-icon {
    height: 5em;
    text-align: center;
    h4 {
        text-align: center;
        opacity: 0;
        top: 15px;
        color: white;
        text-shadow: 0px 0px 4px #000;
        font-size: 1.3em;
        transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 50px, 0);
        transition: transform 0.7s cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s, opacity 0.2s cubic-bezier(0.26, 0.86, 0.44, 0.985) 0.3s, -webkit-transform 0.7s cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s;
    }
    &:hover h4 {
        opacity: 1;
        margin: 0;
        position: relative;
        display: block;
        transform: translate3d(0, -70px, 0);
        transition: transform 0.7s cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s, opacity 0.3s cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s, -webkit-transform 0.7s cubic-bezier(0.26, 0.86, 0.44, 0.985) 0s;
    }
    svg {
        width: 80px;
        height: 80px;
        fill: #444444
    }
}

.about {
    max-width: 700px;
    align-self: flex-end;
}

.close {
    display: none;
}
#contact{
    outline: none;
}
.contact {
    max-width: 700px;
    width: 100%;
    align-self: flex-start;
}

.half--contact {
    position: relative;
    color: white;
    background-color: rgba(28, 29, 37, 1);
    background: linear-gradient(45deg, rgba(35, 90, 166, 1), rgba(16, 27, 59, 1));
    font-size: 1.2em;
    opacity: 1;
}

.contact p {
    text-align: center;
}

.contact__form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.field {
    position: relative;
    margin: 0 0 30px 0;
}

.contact__form label {
    position: absolute;
    top: 11px;
    transition: top .5s cubic-bezier(.694, .048, .335, 1), font-size .3s cubic-bezier(.694, .048, .335, 1);
}

.contact__form label.focus {
    font-size: 0.6em;
    top: -6px;
}

.contact__form input,
.contact__form textarea {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    height: 1.8em;
    width: 100%;
    color: white;
    transition: border .5s cubic-bezier(.694, .048, .335, 1);
}

.contact__form textarea {
    height: 5em;
    position: relative;
    top: 10px;
}

.contact__form input.empty,
.contact__form textarea.empty {
    border-bottom: 2px solid #f06449;
}

.contact__form input.ok,
.contact__form textarea.ok {
    border-bottom: 2px solid #73f049;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    color: rgb(255, 255, 255);
    background-color: none;
    border-bottom: 2px solid #73f049;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
}

.form__send {
    font-size: 1em;
    letter-spacing: 2px;
    padding: 10px 15px;
    background-color: #f06449;
    background: linear-gradient(270deg, #f06449, #ef3636);
    color: #fff;
    transition: all .3s;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    display: inline;
    cursor: pointer;
    top: 20px;
    text-align: center;
}

.form__send.disable {
    filter: grayscale(50%);
    color: rgb(68, 68, 68);
    cursor: no-drop;
}

.form__send.disable .button--mask {
    cursor: no-drop;
}

#status {
    margin-top: 1.2em;
}


/*section Skill*/

.skills {
    outline: none;
}

.container__skills {
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 20px 0 50px;
        justify-content: center;
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
}

.single__skill__container {
    height: 100%;
    width: 100%;
}

.skills li {
    width: 250px;
    height: 250px;
    text-align: center;
    float: left;
    perspective: 500px;
    position: relative;
    svg {
        height: auto;
        width: 80%;
        max-width: 250px;
        pointer-events: none;
    }
    path {
        fill: #4172A4;
    }
    h5 {
        margin: .2em;
        font-weight: 100;
        font-size: 1em;
    }
    h3 {
        margin: 10px 0;
        text-transform: uppercase;
    }
}

figure {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

$duration: 500ms;
$timing-fn: ease;
.skills li:nth-of-type(even) .single__skill__info {
    background-color: rgba(240, 100, 73, 0.9);
    background: linear-gradient(90deg, rgba(240, 100, 73, .9), rgba(239, 54, 54, .9));
}

.single__skill__info {
    transform: rotate3d(1, 0, 0, 90deg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    background-color: rgba(240, 100, 73, 0.9);
    background: linear-gradient(270deg, rgba(240, 100, 73, 0.9), rgba(239, 54, 54, 0.9));
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
}

.in-top .single__skill__info {
    transform-origin: 50% 0%;
    animation: in-top $duration $timing-fn 0ms 1 forwards;
}

.in-right .single__skill__info {
    transform-origin: 100% 0%;
    animation: in-right $duration $timing-fn 0ms 1 forwards;
}

.in-bottom .single__skill__info {
    transform-origin: 50% 100%;
    animation: in-bottom $duration $timing-fn 0ms 1 forwards;
}

.in-left .single__skill__info {
    transform-origin: 0% 0%;
    animation: in-left $duration $timing-fn 0ms 1 forwards;
}

.out-top .single__skill__info {
    transform-origin: 50% 0%;
    animation: out-top $duration $timing-fn 0ms 1 forwards;
}

.out-right .single__skill__info {
    transform-origin: 100% 50%;
    animation: out-right $duration $timing-fn 0ms 1 forwards;
}

.out-bottom .single__skill__info {
    transform-origin: 50% 100%;
    animation: out-bottom $duration $timing-fn 0ms 1 forwards;
}

.out-left .single__skill__info {
    transform-origin: 0% 0%;
    animation: out-left $duration $timing-fn 0ms 1 forwards;
}

@keyframes in-top {
    from {
        transform: rotate3d(-1, 0, 0, 90deg)
    }
    to {
        transform: rotate3d(0, 0, 0, 0deg)
    }
}

@keyframes in-right {
    from {
        transform: rotate3d(0, -1, 0, 90deg)
    }
    to {
        transform: rotate3d(0, 0, 0, 0deg)
    }
}

@keyframes in-bottom {
    from {
        transform: rotate3d(1, 0, 0, 90deg)
    }
    to {
        transform: rotate3d(0, 0, 0, 0deg)
    }
}

@keyframes in-left {
    from {
        transform: rotate3d(0, 1, 0, 90deg)
    }
    to {
        transform: rotate3d(0, 0, 0, 0deg)
    }
}

@keyframes out-top {
    from {
        transform: rotate3d(0, 0, 0, 0deg)
    }
    to {
        transform: rotate3d(-1, 0, 0, 104deg)
    }
}

@keyframes out-right {
    from {
        transform: rotate3d(0, 0, 0, 0deg)
    }
    to {
        transform: rotate3d(0, -1, 0, 104deg)
    }
}

@keyframes out-bottom {
    from {
        transform: rotate3d(0, 0, 0, 0deg)
    }
    to {
        transform: rotate3d(1, 0, 0, 104deg)
    }
}

@keyframes out-left {
    from {
        transform: rotate3d(0, 0, 0, 0deg)
    }
    to {
        transform: rotate3d(0, 1, 0, 104deg)
    }
}
